# StatsForecast on Generated Data

This notebook is a simple example of how to use the StatsForecast library to forecast time series data. The data used in this notebook is generated using the `generate_data` function from the `statsforecast` library. The data is varied according to the length.  Approximate times to run at different lengths:
100 - 0.22 minutes
1000 - 0.8 minutes
5000 - 3.66 minutes
10000 - 7.5 minutes

In [18]:
from statsforecast.utils import generate_series
for length in [100000]:
		print(f'length: {length}')
		series = generate_series(n_series=length, seed=1)

length: 100000

In [21]:
series

                  ds         y
unique_id
0         2000-01-01  0.406220
0         2000-01-02  1.255300
0         2000-01-03  2.409329
0         2000-01-04  3.395587
0         2000-01-05  4.387195
...              ...       ...
99999     2001-04-13  1.080475
99999     2001-04-14  2.375362
99999     2001-04-15  3.065830
99999     2001-04-16  4.113399
99999     2001-04-17  5.416611

[27514605 rows x 2 columns]

In [22]:
from statsforecast import StatsForecast
from statsforecast.models import AutoARIMA, Naive

model = StatsForecast(models=[AutoARIMA()],
                      freq='D',
                      n_jobs=-1)
forecasts_df = model.forecast(df=series, h=7)
forecasts_df.head()

/Users/rajishah/anaconda3/envs/working311/lib/python3.11/site-packages/numpy/core/numeric.py:330: RuntimeWarning: invalid value encountered in cast
  multiarray.copyto(a, fill_value, casting='unsafe')
/Users/rajishah/anaconda3/envs/working311/lib/python3.11/site-packages/numpy/core/numeric.py:330: RuntimeWarning: invalid value encountered in cast
  multiarray.copyto(a, fill_value, casting='unsafe')
/Users/rajishah/anaconda3/envs/working311/lib/python3.11/site-packages/numpy/core/numeric.py:330: RuntimeWarning: invalid value encountered in cast
  multiarray.copyto(a, fill_value, casting='unsafe')
/Users/rajishah/anaconda3/envs/working311/lib/python3.11/site-packages/numpy/core/numeric.py:330: RuntimeWarning: invalid value encountered in cast
  multiarray.copyto(a, fill_value, casting='unsafe')
/Users/rajishah/anaconda3/envs/working311/lib/python3.11/site-packages/numpy/core/numeric.py:330: RuntimeWarning: invalid value encountered in cast
  multiarray.copyto(a, fill_value, casting='unsafe')
/Users/rajishah/anaconda3/envs/working311/lib/python3.11/site-packages/numpy/core/numeric.py:330: RuntimeWarning: invalid value encountered in cast
  multiarray.copyto(a, fill_value, casting='unsafe')
/Users/rajishah/anaconda3/envs/working311/lib/python3.11/site-packages/numpy/core/numeric.py:330: RuntimeWarning: invalid value encountered in cast
  multiarray.copyto(a, fill_value, casting='unsafe')
/Users/rajishah/anaconda3/envs/working311/lib/python3.11/site-packages/numpy/core/numeric.py:330: RuntimeWarning: invalid value encountered in cast
  multiarray.copyto(a, fill_value, casting='unsafe')

                  ds  AutoARIMA
unique_id
0         2000-03-28   1.845738
0         2000-03-29   1.439161
0         2000-03-30   1.122144
0         2000-03-31   0.874959
0         2000-04-01   0.682224